@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Helvitica', sans-serif;
    
}

:root{
    --primary: #37515C;
    --secondary: #E6DBD6;
    --accent: #5A8396;
    --bg-color: #FDFCFC;
    --black: #040406;
    --section-color: #F5F4F4;
}


body{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.container{
    margin: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 20px;
}

.header{
    z-index: 5;
    width: 100%;
}
section{
    width: 100%;
}

a{
    text-decoration: none;
    font-family: 'Geologica', sans-serif;
    font-weight: bolder;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + section {
    padding-top: 60px;
  }
  
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: 'Geologica', sans-serif;
    color: var(--accent);
}

.nav .navbar li{
    list-style:none;
}

#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: var(--bg-color);
    max-width: 100%;
    min-height: 60px;
}

#navigation a{
    gap: 20px;
}




.logo{
    display: flex;
    align-items: center;
    color: var(--black);
    margin-right: auto;
    font-size: 40px;
    
}

.logo img{
    height: 80px;
    width: 80px;
    border-style: none;
}

.nav{  
    transition: all 0.3s ease-in-out;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 60px;
}

.nav-item{
    display: flex;
    column-gap: 40px;
}
 


.nav-link{
    font-size: 1.5rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--black);   
}

.nav-link:hover{
    color: var(--bg-color);
    background: var(--accent);
    transition: 0.2s all linear;
}

.menu-icon{
    display: none;
    cursor: pointer;
}

.menu-icon div{
    display: block;
    background: var(--accent);
    height: 5px;
    width: 25px;
    transition: 0.3s;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    
}


/* About */

.about{
    min-height: 600px;
    display: flex;
    align-items: center;
    row-gap: 1rem;
    
}

.text-container{
    height: 20%;
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    
}

.about-content{
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    color: var(--black);
}

.about-text{
   display: flex;
   flex-direction: column;
   align-items: left;
   row-gap: 1rem;
}
.about-text p{
    font-size: 1.5rem;
}

.about-text h2{
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-family: 'Geologica', sans-serif;
    color: var(--accent);
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 530px;
    background: var(--secondary);
    border-radius: 25px;
}
.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
}

.top{
    grid-column: 5 / -1;
    grid-row: 1;
    padding-top: 40%;
    z-index: 1;
}

.bottom{
    grid-column: 1 / span 10;
    grid-row: 1;
    
}
#pic1{
    width: 365px;
    height: 270px;
    border-radius: 25px;
    animation-name: fade;
    animation-duration: 2s;
}
#pic2{
    width: 280px;
    height: 335px;
    border-radius: 25px;
    animation-name: fade;
    animation-duration: 2s;
}



/* Services*/
.services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--section-color);
    color: var(--black); 
    padding-top: 60px;
    max-width: 100%;
    
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr ));
    grid-template-rows: repeat(9, 1fr);
    column-gap: 20%;
}

/* grid-area: row-start col-start row-end col-end*/ 

.granite-container{
    grid-area: 1 / 2 / 4 / 3;
}
.parquet-container{
    grid-area: 3 / 1 / 6 / 2;
}
.others-container{
    grid-area: 5 / 2 / 8 / 3;
}
.bona-container{
    grid-area: 7 / 1 / 10 / 2;
}



.fade {
    animation-name: fade;
    animation-duration: 2s;
    transition: 1s;
  }
  
  @keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
  }
  
.carousel{
    width: 520px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    row-gap: 10px;
    padding: 20px 10px;
    background: #DFE3E5;
    margin: 10px 0;
    box-shadow: 10px 25px 30px rgba(12, 12, 12, 0.3);
    border-radius: 20px;
}

.slider{
   width: 450px;
   height: 300px;
   max-width: 100vw;
   margin: auto;
   position: relative;
   overflow: hidden;
   border: 5px solid var(white);
   border-radius: 10px;
}

.images{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
}


.item img{
    width: 480px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}


.carousel button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   .carousel button.see-more {
    
    margin-top: 10px;
    width: 10rem;
    height: auto;
    
   }
   
   .carousel button.see-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--accent);
    border-radius: 1.625rem;
   }
   
   .carousel button.see-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   .carousel button.see-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1rem;
    height: 0.1rem;
    background: none;
   }
   
   .carousel button.see-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   .carousel button.see-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   .carousel button:hover .circle {
    width: 100%;
   }
   
   .carousel button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   .carousel button:hover .button-text {
    color: #fff;
   }

   /*contact form*/

   .contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    row-gap: 1rem;
   }
   .contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
   }

  .form-container{
    background: #DFE2E4;
    width: 440px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 25px 30px rgba(12, 12, 12, 0.3);

  }
  .contact-form{
    display: grid;
    margin: auto;
    width: 90%;
    row-gap: 1rem;
  }

  .contact-form input, .contact-form textarea{
    border: none;
    border-radius: 25px;
    outline: none;
    font: 1rem;
    padding: 15px;
    color: #040406;
    background: #F8F6F5;
    cursor: pointer;
  }

  .button {
    width: 120px;
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--accent);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  

  .map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    border: 10px solid var(--secondary);
    border-radius: 25px;
  }

  .social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    row-gap: 2rem;
  }
  .social-container a, .social-container a:visited {
    color: #040406;
  }
 
  
  .details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }

  /* footer*/

  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0%;
  }

  footer p{
    font-size: 1rem;
  }
  .nav--open{
    transform: translate(0) !important;
  }
  
  .menu--open .line:nth-child(1){
    transform: translateY(9px) rotate(45deg);
  }
  .menu--open .line:nth-child(2){
    opacity: 0;
  }
  .menu--open .line:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
  }

  @media (max-width:1024px){
    .container{
        margin: 0 auto;
        
    }
    .nav-link{
        font-size: 1.3rem;
    }
    .services-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    section{
        width: 100%;
    }
}

@media (max-width: 900px) {
    .nav{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 10px 0 25px;
        background-color: var(--bg-color);
        transform: translateX(-100%);
        
    }

    .navbar{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        
    }
   
    #navigation a{
        font-size: 30px;
    }
    .nav-item{
        font-size: 14px;
    }

    .menu-icon{
        display: block;
    }
    
    .services-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .contact-content{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 3rem;
    }

    #pic1{
        width: 237.25px;
        height: 175.5px;
        border-radius: 25px;
    }
    #pic2{
        width: 182px;
        height: 217px;
        border-radius: 25px;
    }
    .about-content{
        padding: 10px;
    }

    .image-container{
        height: 350px;
    }
    
}

@media screen and (max-width: 768px) {
    .slider{
        width: 280px;
        height: 200px;
    }

    #pic1{
        width: 192.5px;
        height: 147.5px;
        border-radius: 25px;
    }

    #pic2{
        width: 150px;
        height: 177.5px;
        border-radius: 25px;
    }
    
    .nav-item{
        font-size: 10px;
    }

     .about-text p{
         font-size: 1rem;
     }
     
     .about-text h2{
         font-size: 2rem;
         line-height: 2.5rem;
     }
     .about-content{
        padding: 20px;
    }
    .image-container{
        width: 250px;
    }
    
  
}

@media screen and (max-width: 600px){
    .heading{
        font-size: 50px;
    }

    .carousel{
        width: 430px;
    }
    .about-text h2{
        font-size: 1.8rem;
        
    }

    #pic1{
        width: 172.5px;
        height: 127.5px;
        border-radius: 25px;
    }

    #pic2{
        width: 130px;
        height: 157.5px;
        border-radius: 25px;
    }
    .image-container{
        padding-left: 5px;
        width: 250px;
        height: 250px;
    }
    .text-container{
        width: 280px; 
        padding: 0;      
    }

    .logo img{
        height: 60px;
        width: 60px;
    }
    
    
}

@media screen and (max-width: 480px){
    #pic1{
        width: 172.5px;
        height: 127.5px;
        border-radius: 25px;
    }

    #pic2{
        width: 130px;
        height: 157.5px;
        border-radius: 25px;
    }
    .about-content{
        flex-direction: column;
        gap: 20px;
    }

    .nav-item{
        font-size: 1px;
    }
    

    .about-text{
        align-items: center;

    }
    .image-container{
        width: 250px;
    }
    .heading{
        font-size: 40px;
    }
    .map-container{
        width: 400px;
        height: 320px;
    }
    iframe{
        width: 380px;
        height: 320px;
    }
    .details-container{
        font-size: 14px;
    }
    .form-container{
        width: 380px; 
    }

    #navigation a{
        font-size: 18px;
        
    }
    .text-container{
        width: 100%;
    }
    .logo img{
        height: 50px;
        width: 50px;
    }
    
}

@media screen and (max-width: 320px){
    .map-container{
        width: 300px;
        height: 320px;
    }
    iframe{
        width: 280px;
        height: 320px;
    }
    .details-container{
        font-size: 12px;
    }
    .form-container{
        width: 300px; 
    }
    .carousel h3{
        font-size: 15px;
    }
    .carousel p{
        font-size: 12px;
    }
    .nav{
        top: 90px;
    }
}